/* You can add global styles to this file, and also import other style files */

@import "~bootstrap-icons/font/bootstrap-icons.css";




html, body, app-root, router-outlet {
  min-height: 100% !important;
  min-width: 100% !important;
  width: 100% !important;
  height: 100% !important;
}
app-root {
  display: block;
  height: 100%;
}

#body-definition {
  min-height: 100% !important;
  min-width: 100% !important;
  width: 100% !important;
  height: 100% !important;
}
